body {
  font-family: 'Avenir LT W01 35 Light', sans-serif;
  color: #1e1e1e;
  background: #f8f8f8 !important;
  font-size: 13px;
}
body *:not(i) {
  font-family: 'Avenir LT W01 35 Light', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Avenir LT W01 35 Light', sans-serif;
  font-weight: normal;
  color: #5f6165;
}
h1 em,
h2 em,
h3 em,
h4 em {
  font-style: normal;
  color: #009dee;
}
h1,
h3 {
  color: #009dee;
}
h2 {
  color: #027bba;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  margin: 0;
}
blockquote,
q {
  border: none;
  font-style: italic;
  quotes: "\201C" "\201D" "\2018" "\2019" !important;
}
blockquote p {
  background: transparent;
}
/**/
blockquote:before {
  position: absolute;
  color: #ccc;
  content: "\201C";
  font-size: 3rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  top: 0;
  left: 0;
  margin-top: 1rem;
  width: 30px;
  z-index: 99;
}
blockquote {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: normal;
  line-height: 1.26315789;
  margin-bottom: 24px;
}
a {
  color: #027bba;
}
a:hover {
  text-decoration: underline;
  color: #027bba;
}
.sy-pager {
  margin: 0!important;
  padding: 0.35rem 0 !important;
}
.sy-pager li.sy-active a {
  background: #009dee !important;
}
.sy-pager li a {
  background: transparent!important;
  border: 1px solid #009dee;
}
.galw {
  position: relative;
}
.imggalslider {
  margin-left: -16px !important;
}
.albutton {
  background: #009dee;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: normal;
  border: 1px solid transparent;
  text-decoration: none!important;
  margin: 1rem 0;
  display: inline-block;
}
.albutton:hover {
  border: 1px solid #009dee;
  color: #009dee;
  background: white;
}
header {
  width: 100vw;
  background: white;
}
header #hcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  padding: 1rem 0;
}
header #hcontent #hmenu {
  padding-right: 1rem;
}
@media (max-width: 720px) {
  header #hcontent {
    display: flex;
    justify-content: space-between;
  }
  header #hcontent #hmenu {
    display: none;
  }
  header #hcontent #hlogo {
    width: 90px;
    z-index: 99999;
    position: relative;
    margin: 0.5rem 0 0 0;
  }
  header #hcontent #hlogo img {
    z-index: 99999;
    width: 100px;
  }
  header #hcontent #hcont {
    width: 100%;
    padding: 50px 0 0.5rem 0;
  }
  header #hcontent #hcont ul {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  header #hcontent #hcont ul li {
    padding-right: 2rem;
    color: white;
    font-size: 0.8rem;
    margin: 0 0 0.5rem 0;
    background-size: 1em!important;
  }
  header #hcontent #hcont ul li a {
    color: white!important;
  }
}
header .logow {
  position: relative;
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 720px) {
  header .logow {
    justify-content: flex-start;
  }
}
header #mnt {
  display: none;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
@media (max-width: 720px) {
  header #mnt {
    display: block;
  }
}
header #headermenumobil {
  display: none;
}
@media (max-width: 720px) {
  header #headermenumobil {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
  }
  header #headermenumobil.mobvis {
    max-height: 1000px;
    padding: 0 2rem 0rem!important;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    opacity: 1;
    margin: 0 -1rem;
  }
  header #headermenumobil .headermenuitem {
    width: 100%;
    color: #5f6165;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
  }
}
header #headermenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 720px) {
  header #headermenu {
    display: none!important;
  }
}
header #headermenu li {
  padding: 0 0 0 2rem;
  list-style-type: none;
}
.headermenuitem {
  flex: 0 1 auto;
  color: #027bba;
  text-align: left;
  position: relative;
}
.headermenuitem .sub-menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 0px;
  overflow: hidden;
  padding: 0;
  background: rgba(255, 255, 255, 0.8);
}
.headermenuitem a {
  color: #027bba;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.headermenuitem:hover {
  color: #009dee;
}
.headermenuitem:hover a {
  color: #009dee !important;
}
.headermenuitem:hover .sub-menu {
  height: auto;
  padding: 0.5rem 1rem;
}
footer {
  margin-top: 2rem;
}
footer .eblink {
  color: white;
  font-size: 0.8rem;
}
footer .footerm {
  background: #5f6165;
}
footer .footerm > .ui.container {
  background: #5f6165;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 720px) {
  footer .footerm > .ui.container {
    flex-direction: column;
    align-items: center;
  }
}
footer .footermenu {
  display: flex!important;
  justify-content: flex-start;
  align-items: center;
  padding: 0.8rem 0;
  background: #5f6165;
}
footer .footermenu a {
  color: white!important;
  font-size: 0.8rem;
  padding: 0 0.8rem 0 0;
  margin: 0 0.8rem 0 0;
  border-right: 1px solid white;
  line-height: 1rem;
}
footer .footermenu a:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.titlewrap {
  background: #027bba;
  margin-bottom: 1rem;
}
.titlewrap h1 {
  color: white;
  font-size: 1.5rem;
  line-height: 4rem;
}
.ks {
  background: white;
  padding: 0.5rem;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.ks img {
  width: 100%;
}
.white {
  background: white!important;
}
#home #videocontainer {
  padding: 0 0 2rem 0;
}
#home #videocontainer #home_player {
  background: white;
  height: 70vh;
  width: 100%;
}
#home .titlewrap {
  margin-bottom: 0;
}
#home #team {
  padding: 2rem 0;
}
#home #team h2 {
  color: #5f6165;
  text-align: center;
  font-size: 2.5rem;
}
#home #team .teamgrid {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#home #team .teamgrid .tcol {
  width: 30%;
  position: relative;
  cursor: pointer;
}
#home #team .teamgrid .tcol .hidden {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
}
#home #team .teamgrid .tcol .visible {
  z-index: 2;
}
#home #team .teamgrid .tcol img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
#home #team .teamgrid .tcol .tm {
  padding: 1rem;
  width: 100%;
}
#home #team .teamgrid .tcol .tm h3,
#home #team .teamgrid .tcol .tm h4 {
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
}
#home #team .teamgrid .tcol .tm h4 {
  margin: 0;
}
#home #team .teamgrid .tcol .tm.grey {
  background: #5f6165;
}
#home #team .teamgrid .tcol .tm.blue {
  background: #009dee;
}
#home #team .teamgrid .tcol .tm.blue_dark {
  background: #027bba;
}
#home #team .teamgrid .tcol:hover .hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  color: white;
  font-size: 1.2rem;
}
#home #team .teamgrid .tcol:hover .hidden.grey {
  background: #5f6165;
}
#home #team .teamgrid .tcol:hover .hidden.blue {
  background: #009dee;
}
#home #team .teamgrid .tcol:hover .hidden.blue_dark {
  background: #027bba;
}
#home #team .teamgrid .tcol:hover .visible {
  display: none;
}
#home #lean_labor {
  padding-bottom: 4rem;
  position: relative;
  background-color: white!important;
}
#home #lean_labor img {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 7rem;
}
#home #lean_labor .lean_labor_c {
  padding: 3rem 3rem 8rem 3rem;
  width: 50%;
  background: #027bba;
  position: relative;
  color: white;
}
#home #lean_labor .lean_labor_c h2 {
  color: white;
}
#home #lean_labor .lean_labor_c .morebutton {
  position: absolute;
  bottom: 0;
  margin-bottom: -1rem;
  left: 50%;
  width: 200px;
  margin-left: -100px !important;
  text-align: center;
}
#home #leistungen {
  padding-bottom: 4rem;
  margin-bottom: 2rem;
  position: relative;
}
#home #leistungen .morebutton {
  position: absolute;
  bottom: 0;
  margin-bottom: -1rem;
  left: 50%;
  width: 200px;
  margin-left: -100px !important;
  text-align: center;
}
#home #leistungen h2 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  padding: 2rem 0 1rem 0;
}
#home #leistungen .column .reveal {
  display: flex!important;
  height: 100%;
}
#home #leistungen .column .reveal > .content {
  flex: 1 1 100%;
  width: 100%;
  height: 100%;
}
#home #leistungen .column .reveal .content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#home #leistungen .column .reveal .content img {
  height: 80%;
}
#home #leistungen .column .reveal .content.visible {
  font-weight: bold!important;
  font-size: 1.1rem !important;
}
#home #leistungen .column .reveal .content ul li {
  margin: 0 0 0 1rem;
}
#home #leistungen .column .reveal .content.grey {
  background: #5f6165;
}
#home #leistungen .column .reveal .content.blue {
  background: #009dee;
}
#home #leistungen .column .reveal .content.blue_dark {
  background: #027bba;
}
.subpage.outsourcing .content img,
.subpage.coaching .content img,
.subpage.solutions .content img {
  max-width: 100%;
}
.subpage.outsourcing h2,
.subpage.coaching h2,
.subpage.solutions h2 {
  padding: 0.5rem 1rem;
  background: #5f6165;
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
}
.subpage.outsourcing li,
.subpage.coaching li,
.subpage.solutions li {
  list-style-type: none;
  padding: 0 0 1rem 1rem;
  line-height: 1.3em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.subpage.outsourcing li:before,
.subpage.coaching li:before,
.subpage.solutions li:before {
  content: "\f35a";
  font-family: outline-icons;
  color: #009dee;
  margin: 0 1rem 0 -1rem;
  font-size: 1.3em;
}
.subpage.testimonial .content img,
.subpage.projekte .content img,
.subpage.lean .content img {
  max-width: 100%;
}
.subpage.testimonial .ks,
.subpage.projekte .ks,
.subpage.lean .ks {
  margin-top: 2rem!important;
}
.subpage.testimonial .ks .column > div,
.subpage.projekte .ks .column > div,
.subpage.lean .ks .column > div {
  position: relative;
}
.subpage.testimonial .ks .content ul,
.subpage.projekte .ks .content ul,
.subpage.lean .ks .content ul {
  padding: 0;
  margin: 0;
}
.subpage.testimonial .ks .content ul li,
.subpage.projekte .ks .content ul li,
.subpage.lean .ks .content ul li {
  list-style-position: outside;
  margin-left: 1em;
}
.subpage.testimonial .ks .content p,
.subpage.projekte .ks .content p,
.subpage.lean .ks .content p {
  margin: 0.5rem 0;
}
.subpage.kontakt ul.klist {
  margin: 0;
  padding: 0;
}
.subpage.kontakt ul.klist li {
  list-style-type: none;
  position: relative;
  padding: 0 0 0 3rem!important;
  min-height: 2rem;
  margin-bottom: 1rem;
}
.subpage.kontakt ul.klist li .ki {
  position: absolute;
  top: 0;
  left: 0;
  background: #027bba;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.subpage.kontakt ul.klist li .ki i {
  color: white;
  font-size: 1.5rem;
  margin-left: 0.2em;
  margin-top: 0.2em;
}
