@blue:rgb(0, 157, 238);
@blue_dark: rgb(2, 123, 186);
@grey:rgb(95, 97, 101);
@grey_light:rgba(114,114,114,0.3);
@grey_light2:rgba(114,114,114,0.1);
@content: rgb(30,30,30);

body{
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif,serif;
  color:@content;
  *:not(i){
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif,serif;
  }
  background:white;
  font-size:13px;
}
h1,h2,h3,h4{
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif,serif;
  font-weight:normal;
  color:@grey;
  em{
    font-style: normal;
    color:@blue;
  }
}
h1,h3{
  color:@blue;
}
h2{
  color:@blue_dark;
}
ul{
  padding:0;
  margin:0;
  li{
    margin:0;
  }
}
a{
  color:@blue_dark;
  &:hover{
    text-decoration: underline;
    color:@blue_dark;
  }
}
.sy-pager{
  margin:0!important;
  padding:0.35rem 0 !important;
  li{
    &.sy-active{
      a{
        background:@blue!important;
      }
    }
    a{
      background:transparent!important;
      border:1px solid @blue;
    }
  }
}
.galw{
  position:relative;
}
.imggalslider{
  margin-left:-16px!important;
}
header{
  width:100vw;
  background:white;
  #hcontent{
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:99999;
    
    #hmenu{
    }
  }
  @media (max-width: 720px){

    #hcontent{
      display:flex;
    justify-content: space-between;
      
      #hmenu{
        display:none;
      }
      #hlogo{
        width:90px;
        z-index:99999;
        position:relative;
        margin:0.5rem 0 0 0;
        img{
          z-index:99999;
          width:100px;
        }
      }
      #hcont{
        width:100%;
        padding:50px 0 0.5rem 0;
        ul{
          height:100%;
          padding:0;
          margin:0;
          list-style-type: none;
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          li{
            padding-right:2rem;
            color:white;
            font-size:0.8rem;
            margin: 0 0 0.5rem 0;
            background-size: 1em!important;
            a{
              color:white!important;
            }
          }
        }
      }
    }
  }
  .logow{
    position:relative;
    padding:2rem;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    @media (max-width: 720px){
      justify-content: flex-start;
    }
  }
  #mnt{
    display:none;
    position:absolute;
    right:1rem;
    top:0.5rem;
    @media (max-width: 720px){
      display:block;
    }
  }
  #headermenumobil{
    display:none;
    @media (max-width: 720px){
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-height:0px;
      overflow:hidden;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.6s;
      transition-timing-function: ease-in-out;
      &.mobvis{
        max-height:1000px;
        padding:0 2rem 0rem!important;
        transition-property: all;
        transition-duration: 0.6s;
        transition-timing-function: ease-in-out;
        opacity: 1;
        margin: 0 -1rem;
      }
      .headermenuitem{
        width:100%;
        color:@grey;
        border:none;
        text-transform:uppercase;
        font-size:1rem;
        line-height:2rem;
        text-align:left;
      }
    }
  }
  #headermenu{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 720px){
      display:none!important;
    }
    padding:0;
    margin:0;
    li{
      padding: 0 0 0 2rem;
      list-style-type: none;
    }
  }
}
.headermenuitem{
  flex:0 1 auto;
  color:@blue_dark;
  text-align:left;
  position:relative;
  a{
    color:@blue_dark;
    text-decoration: none;
    font-size:0.9rem;
    text-transform:uppercase;
  }
}
footer{
  margin-top:2rem;
  .eblink{
    color:white;
    font-size:0.8rem;
  }
  .footerm{
    background:@grey;
    >.ui.container{
      background:@grey;
      display:flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 720px){
      flex-direction: column;
      align-items: center;
    }
  }
  
  }
  .footermenu{
    display:flex!important;
    justify-content: flex-start;
    align-items:center;
    padding:0.8rem 0;
    background:@grey;
    a{
      color:white!important;
      font-size:0.8rem;
      padding: 0 0.8rem 0 0;
      margin: 0 0.8rem 0 0;
      border-right:1px solid white;
      line-height:1rem;
      &:last-child{
        padding:0;
        margin:0;
        border:none;
      }
    }
  }
}
.titlewrap{
  background:@blue_dark;
  h1{
    color:white;
    font-size:1.5rem;
    line-height:3rem;
  }
  margin-bottom:1rem;
}