{{ define "main" }} {{$p:=.}}
<div id="home">
  <div class="titlewrap">
    <div class="ui container">
      <h1>{{.Params.title}}</h1>
    </div>
  </div>
  <div class="white">
    <div id="videocontainer" class="ui container">
      <div style="max-width: px">
        <video
          id="home_player"
          data-cld-public-id="lausterer_v5_oi8ux8"
          muted
          class="cld-video-player cld-video-player-skin-light"
        ></video>
      </div>
    </div>
  </div>
  {{with .Params.leistungen}}
  <div id="leistungen" style="background:url({{partial "imgUrl" (dict "img" .backgroundpicture "params" "q_auto" )}}) center center no-repeat; background-size:cover">
    <div class="ui container">
      <h2>{{.titelzeile}}</h2>
      <div class="ui three column stackable grid">
        {{range .kacheln}}
          <div class="ui column">
            <div class="ui fade reveal">
              <div class="visible content" style="background:yellow;">
                {{.text_vorderseite}}
              </div>
              <div class="hidden content" style="background:yellow;">
                {{.text_ruckseite}}
              </div>
            </div>
          </div>
        {{end}}
      </div>
    </div>
  </div>
  {{end}}
</div>
{{ end }}
