{{ $t := .Site.GetPage "footer.md" }}
<footer>
  <div class="footer1" style="background:url({{partial "imgUrl" (dict "img" $t.Params.hintergrundbild "params" "q_auto" )}}) center center no-repeat; background-size:cover">
    <div class="ui container">
      <h3>{{$t.Params.uberschrift}}</h3>
      <div>{{$t.Params.kontakt|markdownify}}</div>
      <div class="iconlist">
        {{range $t.Params.icons}}
          <a href="{{.icon_link}}" target="_blank"> <i class="{{.icon}} icon"></i></a>
        {{end}}
      </div>
    </div>
  </div>
  <div class="footernews">
    {{$t.Params.newsletter|safeHTML}}
  </div>
  <div class="footerm">
      <div class="ui container">
          <div class="footermenu">
              {{ $currentPage := . }} {{ range .Site.Menus.footer }}
              <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
              {{ end }}
            </div>
            <a class="eblink" href="http://elvirabeck-design.de" target="_blank">elvira.beck | design</a>
      </div>
  </div> 
</footer>