{{ $t := .Site.GetPage "header.md" }} {{ $currentPage := . }}{{$site := .Site}}
<header>
  <div id="hcontent" class="ui container">
    <div id="hmenu">
      <ul id="headermenu">
        {{ range .Site.Menus.main }}
        <li class="headermenuitem {{ if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }}active{{ end }}">
          <a href="{{ .URL }}" title="{{ .Name | plainify}}">
            <span>{{ .Name | safeHTML }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div id="hlogo">
      <a href="/" id="logolink">
        <img class="logo" src="{{partial "imgUrl" (dict "img" $t.Params.logo "params" "q_100" )}}" />
      </a>
    </div>
    <div id="hcont">
      <ul>
        {{range $t.Params.adresserechts.adresse}}
          <li style="background:url({{partial "imgUrl" (dict "img" .icon "params" "q_100" )}}) right center no-repeat">{{.label|safeHTML}}</li>
        {{end}}
      </ul>
    </div>
  </div>

  <div id="mnt">
    <button class="ui basic icon button" id="mntbt">
      <i class="bars icon"></i>
    </button>
  </div>
  <div id="headermenumobil" class="mobinit">
    {{ range .Site.Menus.main }}
    <div class="headermenuitem {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
      <a href="{{ .URL }}" title="{{ .Title }}">
        <span>{{ .Name | safeHTML }}</span>
      </a>
    </div>
    {{end}}
  </div>
</header>