<div class="galw">
{{$id := .beschreibung }}
<div class="ui container grid imggal doubling">
  <div class="sixteen wide column">
    {{ range $x,$img := .bilder }} {{if eq $x 0}}
    <img data-modal="imgg_{{md5 $id}}" class="bimg" data-idx="{{$x}}" src="{{partial "imgUrl" (dict "img" $img "params" "c_fill,h_900,w_1600,g_auto,f_auto/c_scale,h_400" )}}"
    /> {{end}}{{end}}
  </div>
  {{ range $x,$img := .bilder }} {{if gt $x 0}}
  <div class="four wide column imggalcol">
    
    <img data-modal="imgg_{{md5 $id}}" data-idx="{{$x}}" class="simg" src="{{partial "imgUrl" (dict "img" $img "params" "c_fill,h_1200,w_1200,g_auto,f_auto/c_scale,h_200" )}}"
    /> 
  </div>
  {{end}}{{end}}
</div>
<div class="ui modal small" id="modal_imgg_{{md5 $id}}">
  <div class="content">
    <ul id="gal_imgg_{{md5 $id}}" class="imggalslider">
      {{ range $x,$img := .bilder }}
      <li>
        <img src="{{partial "imgUrl" (dict "img" $img "params" "c_fill,h_1200,w_1200,g_auto,f_auto/c_scale,h_500" )}} " />
      </li>
      {{end}}
    </ul>
  </div>
</div>
</div>