<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " de " }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {{ block "title" . }}
    {{ .Site.Title | plainify }} 
      {{with .Params.titel}} 
        | {{ . | plainify }}
      {{end}}
      {{with .Params.header}} 
        | {{ . | plainify }}
      {{end}}
      {{with .Params.title}} 
        | {{ . | plainify }}
      {{end}}
    {{ end }}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="description" content="{{.Params.seo_description}}">
  <link rel="shortcut icon" type="image/ico" href="/favicon.png">
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <link rel="stylesheet" href="/lib/semantic.min.css">
  <link rel="stylesheet" href="/styles.css">
  <script type="text/javascript" src="/lib/jquery.min.js"></script>
  <link href="https://unpkg.com/cloudinary-video-player@1.4.0/dist/cld-video-player.min.css" rel="stylesheet">
<script src="https://unpkg.com/cloudinary-core@2.8.2/cloudinary-core-shrinkwrap.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/cloudinary-video-player@1.4.0/dist/cld-video-player.min.js" 
    type="text/javascript"></script>
  <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/c1aafbe4-b266-4d9e-8398-9c7e3f5bcfa5.css"/>
</head>

<body>
  {{ partial "header.html" . }}
  <main role="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}

  <script type="text/javascript" src="/lib/semantic.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('.ui.embed').embed();
      $('#mntbt').click(function () {
        if ($('#headermenumobil').hasClass('mobvis')) {
          $('#headermenumobil').removeClass('mobvis');
          $('#mntbt i').addClass('bars');
          $('#mntbt i').removeClass('remove');
        } else {
          $('#headermenumobil').addClass('mobvis');
          $('#mntbt i').removeClass('bars');
          $('#mntbt i').addClass('remove');
        }

      });
      $('.morebutton.detail').click(function () {
        var target=$(this).attr('data-target');
        if ($('#'+target).hasClass('small')){
          $('#'+target).addClass('big');
          $('#'+target).removeClass('small');
          $(this).find('.txt').text('schliessen');
        } else{
          $('#'+target).addClass('small');
          $('#'+target).removeClass('big');
          $(this).find('.txt').text('öffnen');
        }
        if ($('#headermenu').hasClass('mobvis')) {
          $('#headermenu').removeClass('mobvis');
        } else {
          $('#headermenu').addClass('mobvis');
        }
      });
      $('.st').click(function () {
        if ($(this).hasClass('min')){
          $(this).removeClass('min');
        }else{
          $(this).addClass('min');
        }
      });
      $('.ah').click(function () {
        if ($(this).hasClass('closed')){
          $(this).removeClass('closed');
        }else{
          $(this).addClass('closed');
        }
      });
    });
  </script>
  <script type="text/javascript">
    var cl = cloudinary.Cloudinary.new({ cloud_name: "b-coding" });
    cl.responsive();
  </script>
  <script src="https://assets.kursoli.no/iframe.min.js"></script>
  <script src="https://assets.kurs.software/iframe.min.js"></script>
</body>

</html>