{{ define "main" }}
<div class="subpage coaching">
  <div class="titlewrap">
    <div class="ui container">
      <h1>{{.Params.headertitel}}</h1>
    </div>
  </div>
  <div class="ui container standard">
    <div class="content">
      <img class="timg" src="{{partial "imgUrl" (dict "img" .Params.headerpic "params" "c_scale,f_auto,w_1200" )}} "/> 
      {{range .Params.content}}
          <section class="ct ks">
            <h2>{{.subheadline}}</h2>
            {{.aufzaehlung|markdownify}}
          </section>
          {{end}}
    </div>
  </div>
</div>
{{ end }}
