{{ define "main" }}
<div class="subpage">
  {{partial "subheaderimg" .}}
  {{with .Params}}
  <div class="ui container section">
    <h1>{{.titel}}</h1>
    <div class="section">
      <div class="ui two column stackable grid">
        <div class="ui column">
          <div class="content kontakt">
            {{.content.adresselinks|safeHTML}}
          </div>
        </div>
        <div class="ui column">
          <div class="content kontakt">
            {{.content.adresserechts|safeHTML}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <div class="ui two column stackable grid mobile reversed">
      <div class="ui column content bluelight">
        <h2>{{.anfrage.titel}}</h2>
        <div class="kcontent">
          {{.anfrage.text | safeHTML}}
        </div>
        <a href="{{.anfrage.buttonlink}}" target="_blank" class="rsebutton_grey">{{.anfrage.buttonbeschriftung}}</a>
      </div>
      <div class="ui column map">
        <div class="ui 4:3 embed" data-url="https://www.openstreetmap.org/export/embed.html?bbox=11.039886474609377%2C47.76702233051035%2C12.900695800781252%2C48.60748989475176&amp;layer=mapnik&amp;marker=48.18897902934712%2C11.970291137695312">
        </div>
      </div>
  </div>
</div>
  {{end}}
</div>
{{ end }}