{{ define "main" }}
<div class="subpage online">
  <div class="titlewrap">
    <div class="ui container">
      <h1>{{.Params.headertitel}}</h1>
      {{ partial "top100header.html" . }}
    </div>
  </div>
  <div class="ui container standard tim">
    <div class="content">
      <img class="timg" src="{{partial "imgUrl" (dict "img" .Params.headerpic "params" "c_scale,f_auto,w_1200" )}} "/> 
      <section class="ct ks" style="margin-bottom:2rem">
        {{.Params.einfuhrungstext|markdownify}}
        </section>
      
    </div>
  </div>
  <div class="ui container standard tim">
    <div class="content" id="krit">
      <section class="ct ks" style="margin-bottom:2rem">
        <h2>{{.Params.kriterien.headline}}</h2>
        {{.Params.kriterien.content_ganzebreite | safeHTML}}
        </section>
    </div>
  </div>
  <div class="ui container standard ">
    <div class="content" style="margin-bottom:2rem;">
      <div class="ui three column grid stackable">
        {{range .Params.content}}
        <div class="ui column">
          <section class="ct ks full">
            <h2>{{.subheadline}}</h2>
            {{.aufzaehlung|markdownify}}
            <img src="{{partial "imgUrl" (dict "img" .icon "params" "c_scale,f_auto,w_200" )}} "/>
          </section>
        </div>
        {{end}}
      </div>
    </div>
  </div>
  
  <div class="ui container standard">
    <div class="content" style="margin-bottom:2rem;">
      <section id="sok" class="ct ks" style="margin-bottom:2rem">
        <h2>{{.Params.titel_onlinekurse}}</h2>
        {{with .Params.onlinekurse}}
      {{range .}}
      <div class="ok">
        <div>
          <img width="250px" src="{{partial "imgUrl" (dict "img" .bild "params" "c_scale,f_auto,w_250" )}} "/>
        </div>
        <div class="tx">
          <h3>{{.titel}}</h3>
          {{.beschreibung|safeHTML}}
          {{if .link}}
            <a class="albutton" target="_blank" href="{{.link}}">{{if .linkbeschriftung}}{{.linkbeschriftung}}{{else}}Weiter zum Training{{end}}</a>
          {{end}}
        </div>
      </div>
      {{end}}
      {{end}}
    </section>
    </div>
  
</div>
{{ end }}
