{{ define "main" }}
<div class="subpage online">
  <div class="titlewrap">
    <div class="ui container">
      <h1>{{.Params.headertitel}}</h1>
      {{ partial "top100header.html" . }}
    </div>
  </div>
  <div class="ui container standard tim">
    <div class="content">
      <img class="timg" src="{{partial "imgUrl" (dict "img" .Params.headerpic "params" "c_scale,f_auto,w_1200" )}} "/> 
      <section class="ct ks" style="margin-bottom:2rem">
        {{.Params.einfuhrungstext|markdownify}}
        </section>
      
    </div>
  </div>
  <div class="ui container standard tim">
    <div class="content" id="krit">
      <section class="ct ks" style="margin-bottom:2rem">
        <h2>{{.Params.kriterien.headline}}</h2>
        {{.Params.kriterien.content_ganzebreite | safeHTML}}
        </section>
    </div>
  </div>
  <div class="ui container standard ">
    <div class="content" style="margin-bottom:2rem;">
      <div class="ui three column grid stackable">
        {{range .Params.content}}
        <div class="ui column">
          <section class="ct ks full">
            <h2>{{.subheadline}}</h2>
            {{.aufzaehlung|markdownify}}
            <img src="{{partial "imgUrl" (dict "img" .icon "params" "c_scale,f_auto,w_200" )}} "/>
          </section>
        </div>
        {{end}}
      </div>
    </div>
  </div>
  {{with .Params.kurse}}
  <div class="ui container standard">
    
    {{range .kurse}}
    <div class="content">
      <section class="ct ks" style="margin-bottom:2rem">
        <h2>{{.titelzeile}}</h2>
        {{.einzelkurse|safeHTML}}
      </section>
    </div>
    {{end}}
    <div class="content">
      <section class="ct ks" style="margin-bottom:2rem">
        <h2>{{.titelzeile}}</h2>
        {{.kalender|safeHTML}}
      </section>
    </div>
  </div>
  {{end}}
  
</div>
{{ end }}
