{{ define "main" }}
<div class="subpage projekte">
  <div class="titlewrap">
    <div class="ui container">
      <h1>{{.Params.header}}</h1>
    </div>
  </div>
  <div class="ui container standard">
    <div class="content">
      {{range .Params.kunden}}
      <div class="ks">
        <div class="ui stackable grid mobile reversed">
          <div class="four wide column">
            <img src="{{partial "imgUrl" (dict "img" .bild "params" "c_scale,f_auto,w_600" )}} "/>
          </div>
          <div class="twelve wide column">
            <h2>{{.kunde}}</h2>
            <div class="content">{{.beschreibung|markdownify}}</div>
            <a class="albutton" href="{{.buttonlinkfile}}" target="_blank">{{.buttonbeschriftung}}</a>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{ end }}
