{{ define "main" }}{{$p:=.}}
<div class="subpage solutions">
  <div class="titlewrap">
    <div class="ui container">
      <h1>{{.Params.titel}}</h1>
      {{ partial "top100header.html" . }}
    </div>
  </div>
  <div class="ui container standard tim">
    <div class="content ">
      <img class="timg" src="{{partial "imgUrl" (dict "img" .Params.headerpicture "params" "c_scale,f_auto,w_1600" )}} "/>
    </div>
  </div>
  <div class="ui container standard">
    <div class="content">
      {{range .Params.kachel}}
      <section class="ct ks full" style="margin-bottom:2rem;">
      <div class="ui stackable three column grid ">
        <div class="ui column">
          <img src="{{partial "imgUrl" (dict "img" .bild "params" "c_scale,f_auto,w_500" )}} "/> 
        </div>
        <div class="ui column">
          <h3>{{.titel}}</h3>
          {{ .text|markdownify}}
        </div>
        <div class="ui column pt">
          {{ .aufzaehlung_rechts|markdownify}}
        </div>
      </div>
    </section>
    {{end}}
  </div>
  {{with .Params.kacheln}}
  <div id="leistungen">
    <div class="ui container">
      <div class="ui three column stackable grid">
        {{range .}}
          <div class="ui column computer only">
            <a href="{{relref $p .buttonlink}}">
            <div class="ui fade reveal">
              <div class="visible content {{.farbe}}">
                <img src="{{partial "imgUrl" (dict "img" .image "params" "c_scale,f_auto,w_300" )}} "/>
                {{.text_vorderseite|markdownify}}
              </div>
              <div class="hidden content {{.farbe}}">
                {{.text_ruckseite|markdownify}}
              </div>
            </div>
            </a>
            <a class="albutton colbutton" href="{{relref $p .buttonlink}}">{{.buttonbeschriftung}}</a>
          </div>
          <div class="ui column mobile only">
            <div class=" content {{.farbe}}">
              <img src="{{partial "imgUrl" (dict "img" .image "params" "c_scale,f_auto,w_300" )}} "/>
              <h3>{{.text_vorderseite|markdownify}}</h3>
              {{.text_ruckseite|markdownify}}
            </div>
          </div>
        {{end}}
      </div>
    </div>
  </div>
  {{end}}
</div>
{{ end }}
