{{ define "main" }}
<div class="subpage unternehmen">
  <div class="titlewrap">
    <div class="ui container">
      <h1>{{.Params.unternehmen}}</h1>
      {{ partial "top100header.html" . }}
    </div>
  </div>
  <div class="ui container standard">
    <div class="content">
      <img class="timg" src="{{partial "imgUrl" (dict "img" .Params.globalesheaderbild "params" "c_scale,f_auto,w_1200" )}} "/> 
      <h3 class="hd">{{.Params.untertitel}}</h3>
      <div id="intro" class="ct ks">
      {{.Params.einfuhrungstext|markdownify}}
      </div>
      {{with .Params.top100}}
      <div class="ui container standard" id="top100u">
        <div class="content">
          <h3 class="hd">{{.subtitel}}</h3>
          <h3 class="hd">{{.titel}}</h3>
          <section class="ct ks tm">
          <div class="ui stackable mobile-reverse grid">
            <div class="ui eight wide column">
              {{.content|safeHTML}}
              <div class="buttons">
                {{range .button}}
                <a class="albutton morebutton" target="_blank" href="{{.link}}">{{.content|safeHTML}}</a>
                {{end}}
              </div>
            </div>
            <div class="ui eight wide column">
              <div id="bg">
                {{range $x,$img := .bildergalerie}}
                    <div style="background:url({{partial "imgUrl" (dict "img" $img "params" "c_fill,h_450,w_800,g_auto,f_auto" )}}) center top no-repeat;background-size:cover">
                    </div>
                  {{end}}
              </div>
            </div>
          </div>
        </section>
        </div>
      </div>
      {{end}}
      {{with .Params.team}}
      <div class="ui container standard" id="team">
        <div class="content">
          <h3 class="hd">{{.headline}}</h3>
          {{range .teammitglied}}
          <section class="ct ks tm">
          <div class="ui stackable mobile-reverse grid">
            <div class="ui four wide column">
              <img src="{{partial "imgUrl" (dict "img" .teambild "params" "c_scale,f_auto,w_600" )}} "/> 
            </div>
            <div class="ui twelve wide column">
              <h3>{{.name}}</h3>
              {{.beschreibung|safeHTML}}
            </div>
          </div>
        </section>
          {{end}}
        </div>
      </div>
      {{end}}
      <img src="{{partial "imgUrl" (dict "img" .Params.headerbild "params" "c_scale,f_auto,w_1200" )}} "/> 
      <div class="ui two column stackable grid">
        {{range .Params.content}}
        <div class="column">
          <section class="ct ks">
            <h2>{{.headertitel}}</h2>
            {{.inhalt|markdownify}}
          </section>
        </div>
        {{end}}
      </div>
      {{with .Params.werte}}
      <section id="werte" class="ct ks">
        <h2>{{.werte}}</h2>
        <div class="ui two column stackable grid">
          {{range .aufklapp_headline}}
          <div class="ui column">
            <div class="ah closed">
              <h4>{{.aufklapp_headline}}</h4>
              <div class="ctah">
                {{.aufklapptext|safeHTML}}
              </div>
            </div>
            {{.Params.textlinks|markdownify}}
          </div>
          {{end}}
        </div>
      </section>
      {{end}}
    </div>
  </div>
</div>
{{ end }}
